body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  color: #fff;
  background-color: #2b2e4a;
}

ol,
ul {
  padding-left: 30px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  width: 300px;
}

.game-board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #2b2e4a;
  border: 6px solid #fff;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box {
  border: 6px solid #fff;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-bottom: 20px;
  font-size: 1em;
  color: white;
  padding: .5em 1em;
  background: #B83B5E;
  border: 2px dotted white;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
